@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
  scrollbar-width: thin;
}

body {
  flex-direction: column;
  background-color: rgba(var(--bg-primary));
  color: rgba(var(--text-primary));
  font-family: "Poppins", sans-serif;
}

/* Scrollbar classes */
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  margin-right: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--text-secondary));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--text-primary));
}

@layer base {
  :root {
    --bg-primary: 29, 29, 32;
    --bg-tertiary: 20, 20, 22;
    --bg-header: 0, 0, 0;
    --bg-warning: 231, 76, 60;
    --selection: 47, 47, 49;
    --accent: 67, 35, 255;
    --disabled: 48, 46, 49;
    --success: 79, 246, 177;
    --text-primary: 255, 255, 255;
    --text-secondary: 163, 163, 163;
    --text-warning: 255, 106, 85;
  }
}
