@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer base {
  :root {
    --bg-primary: #1d1d20;
    --bg-tertiary: #141416;
    --bg-header: #000000;
    --bg-warning: #e74c3c;
    --bg-accent-opacity: rgba(67, 35, 255, 0.1);
    --border-accent-opacity: rgba(67, 35, 255, 0.4);
    --border-selected: #2f2f31;
    --accent: #4323ff;
    --disabled: #302e31;
    --success: #4ff6b1;
    --text-primary: #ffffff;
    --text-secondary: #a3a3a3;
    --text-warning: #ff6a55;
  }
}
